
.ProductsCard{
    margin: 0.5em;
    justify-content: center;
    // box-shadow: #5e5e5e 5px 6px 8px 0px;
    border-radius: 0.2em;
    border: #7a7a7a 1px solid;
    cursor: pointer;
    border-radius: 5px;
    width: 85vw;
    padding: 5% 5%;
}

.add-fav {
    display: flex;
    padding: 5px;
    cursor: pointer;
    position: relative;
    transition: all .5s ease;
    
}

.fa-solid {
    font-size: 1.2rem;
    color: #7a7a7a;
    position: relative;
    }

    .fa-star{font-size: 1.2rem;
    color: #ffd000fa;
    position: relative;

    }
.fa-solid:hover,
.fa-solid:checked
{
    font-size: 1.2rem;
    color: #f57fa6;
    position: relative;
    }        
        
input[type="checkbox"] { 
    font-size: 1.75rem;
    position: absolute;
    opacity: 0;
    }

.img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
 
.modal-content > .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    text-decoration: inherit;
    text-align: center;
}

.modal-content >.price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    text-decoration: inherit;
    text-align: center;
}

.modal-content {
    background-color: #fefefe; /* Fondo del modal */
    margin: 15% auto; /* Centrado vertical y horizontalmente */
    padding: 5%;
    border: 1px solid #888;
   width: 80vw; /* Ancho máximo del modal */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra */
  }
  
  /* Botón de cerrar */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

    /* MEDIA QUERIES PARA ESCRITORIO */
    @media only screen and (min-width: 1200px) {
        .ProductsCard{
            font-size: 1.8rem;
            padding: 2% 5%;
            width: 80vw;
        
        }
        .modal-content {
            background-color: #fefefe; /* Fondo del modal */
            margin: 15% auto; /* Centrado vertical y horizontalmente */
            padding: 5%;
            border: 1px solid #888;
           width: 60vw; /* Ancho máximo del modal */
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra */
          }
          .add-fav {
            display: flex;
            padding: 5px;
            cursor: pointer;
            position: relative;
            transition: all .5s ease;
            
        }
        
        .fa-solid {
            font-size: 1.6rem;
            color: #7a7a7a;
            position: relative;
            }
        
            .fa-star{font-size: 1.6rem;
            color: #ffd000fa;
            position: relative;
        
            }
        .fa-solid:hover,
        .fa-solid:checked
        {
            font-size: 1.6rem;
            color: #f57fa6;
            position: relative;
            }        
                
        input[type="checkbox"] { 
            font-size: 1.75rem;
            position: absolute;
            opacity: 0;
            }
          
    
    }